
  .Meter {
	width: 100%;
	height: auto;
  }

  .vm-container {
      max-width: 600px;
  }



h4, .uk-h4 {
    font-size: 1.25rem;
    line-height: 1.4;
}
h4 { 
  margin: 0 0 0px 0 !important;
}


  .dial-count {
    font-size: 42px;
    fill: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.01em;
  }
  
  .dial-mpbs {
    font-size: 22px;
    fill: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.01em;
  }
  
  .spacer {
    height: 100vh;
  }
  
  .small-spacer {
    height: 150px;
  }